@font-face {
    font-family: 'RF Dewi Extended';
    src:
        url('/assets/fonts/RFDewiExtended-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    background: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

header {
    width: 100%;
    border-bottom: 2px solid #121215;
    background: #0303034D;
    backdrop-filter: blur(100px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

header .wrapper {
    padding: 0 60px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 25px;
    align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
}

.logo p {
    color: white;
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    max-width: 179px;
}

.navigate {
    display: flex;
    gap: 70px;
    align-items: center;
}

.navigate svg {
    fill: white;
    opacity: 30%;
}

.main_menu {
    display: flex;
}

.main_menu li {
    padding: 37px 30px 38px 30px;
}

.main_menu a {
    color: rgba(255, 255, 255, 0.3);
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
}

.btn_popup {
    margin: 20px 0;
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 13px;
    line-height: 83%;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;
    padding: 23px 41px;
    border-radius: 10px;
    border: 1px solid rgba(37, 42, 59, 1);
    background: #171A28;
}

.first_screen {
    background: #030303;
    background-image: url(./assets/image/bg_image_first.jpg);
    background-size: cover;
    position: relative;
}

.first_screen__decorate {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main_menu .active {
    background: linear-gradient(180deg, rgba(20, 100, 219, 0) 0%, rgba(20, 100, 219, 0.15) 100%);
}

.main_menu li {
    position: relative;
}

.main_menu li:after {
    content: " ";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(94.01deg, #16ADEC 0%, #1464DB 100%);
    border-radius: 15px 15px 0 0;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: translateY(4px);
}

.main_menu .active a {
    color: white;
}

.main_menu a:hover {
    color: white;
}

.main_menu li:has(a:hover) {
    background: linear-gradient(180deg, rgba(20, 100, 219, 0) 0%, rgba(20, 100, 219, 0.15) 100%);
}

.main_menu li:has(a:hover)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(94.01deg, #16ADEC 0%, #1464DB 100%);
    border-radius: 15px 15px 0 0;
    opacity: 1;
    bottom: 0;
    transform: translateY(0);
}

/*First-screen*/
.first_screen .wrapper {
    z-index: 3;
    position: relative;
    max-width: 1575px;
    margin: 0 auto;
    padding: 0 20px;
}

.first_screen .wrapper2 {
    z-index: 3;
    position: relative;
    max-width: 1575px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 4;
    padding-bottom: 110px;
}

.first_screen {
    padding-top: 190px;
}

h2 {
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 56px;
    line-height: 135%;
    letter-spacing: 0%;
    color: white;
}

h2 span {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 56px;
    line-height: 135%;
    letter-spacing: 0%;
    color: white;
}

.top_container {
    display: grid;
    grid-template-columns: 843px auto;
    gap: 80px;
}

.first_screen__list {
    padding-top: 39px;
    padding-left: 3px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first_screen__list li {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 22px;
    line-height: 175%;
    color: white;
    display: flex;
    gap: 15px;
    align-items: center;
}

.first_screen__list li span {
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 22px;
    line-height: 175%;
}

.first_screen__list img {
    width: 13px;
    height: 15px;
}

.first_screen_actionbox {
    display: flex;
    gap: 35px;
    align-items: center;
}

.first_screen_mainbtn {
    background: linear-gradient(94.01deg, #16ADEC 0%, #1464DB 100%);
    box-shadow: 0px -13px 25px 15px rgba(255, 255, 255, 0.13) inset;
    border-radius: 13px;
    height: 90px;
    width: 340px;
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.4px;
    align-items: center;
    color: white;
    justify-content: center;
    display: flex;
}

.first_screen_socbox {
    display: flex;
    gap: 20px;
    align-items: center;
}

.first_screen_tg {
    background: linear-gradient(45deg, rgba(11, 133, 207, 0.8) 0%, rgba(39, 159, 232, 0.8) 100%),
        linear-gradient(0deg, rgba(34, 158, 217, 0.2), rgba(34, 158, 217, 0.2));
    backdrop-filter: blur(85.23829650878906px);
    box-shadow: 0px -13px 25px 15px rgba(255, 255, 255, 0.05) inset;
    width: 76px;
    height: 76px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_screenvk {
    width: 76px;
    height: 76px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(36, 45, 103, 0.8) 0%, rgba(44, 56, 133, 0.8) 100%),
        linear-gradient(0deg, rgba(34, 158, 217, 0.2), rgba(34, 158, 217, 0.2));
    backdrop-filter: blur(85.23829650878906px);
    box-shadow: 0px -13px 25px 15px rgba(255, 255, 255, 0.05) inset;
}

.first_screen_socbox p {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: white;
    background: linear-gradient(to right, #bfbfbf, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 133px;
}

.first_screen_actionbtn {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 102px;
}

.first_screen_actionline {
    color: white;
    display: flex;
    gap: 25px;
    align-items: center;
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0%;
    text-align: right;
    background: linear-gradient(to right, #bfbfbf, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 20%;
}

.first_screen_actionline.active {
    opacity: 1;
}

.first_screen_actionline:before {
    content: " ";
    width: 100%;
    height: 1px;
    background: linear-gradient(96.16deg, #BFBFBF 4.87%, #FFFFFF 96.33%),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.bottom_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 60px;
}



.bottom_container__title {
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 48px;
    line-height: 135%;
    letter-spacing: 0%;
    color: white;
    background: linear-gradient(to right, #BFBFBF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom_container__item p {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: white;
    background: linear-gradient(to right, #BFBFBF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 76%;
}

.bottom_container__item span {
    font-family: Wix Madefor Display;
    font-weight: 700;
    font-size: 22px;
    line-height: 135%;
    letter-spacing: 0%;
    color: white;
    padding: 15px 0;
    display: block;
    background: linear-gradient(to right, #BFBFBF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom_container__item.coll1 p {
    max-width: 414px;
}

.bottom_container__item.coll2 p {
    max-width: 417px;
}

.bottom_container__item.coll3 p {
    max-width: 411px;
}

.first_screen_gradient {
    width: 100%;
    height: 384px;
    background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0%, #030303 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.first_img_action {
    position: relative;
    max-width: 1575px;
    margin: 0 auto;
    padding: 0 20px;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: fit-content;
}

.first_img_item {
    height: 947px;
    width: auto;
    justify-self: right;
    z-index: 2;
    position: absolute;
    opacity: 0;
    bottom: 0;
    
    transition: opacity 0.21s ease-in-out;
  pointer-events: none;
}

.first_img_item.active {
    
    opacity: 1;
  pointer-events: auto;
  z-index: 2;

}

.clip_path_decor {
    position: absolute;
    bottom: 312px;
    left: 11px;
    width: auto;
    z-index: 1;
    height: 468px;
}

.first_decarate_text {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 206.15px;
    line-height: 80%;
    background: linear-gradient(to right, #bfbfbf, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 2%;
    position: absolute;
    bottom: 0;
    left: -64px;
    z-index: -2;
}

.first_decarate_text2 {
    font-family: Wix Madefor Display;
    font-weight: 400;
    font-size: 206.15px;
    line-height: 80%;
    background: linear-gradient(to right, #bfbfbf, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 2%;
    position: absolute;
    top: -34px;
    left: 434px;
    z-index: -2;
}